@font-face{
    font-family:'diyxingshu' ;  
   src:url('/fonts/diyxingshu.ttf'); 
     font-display: auto; 
 
 } 

  /* body  

/* #article-container {
  font-family: 'diyziti';
}  */

h1#site-title {
    font-family: 'diyxingshu';
  }  

  /*10s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
  #page-header.post-bg,
#web_bg {
    -webkit-animation: imgblur .5s 1 ease-in-out;
    animation: imgblur .5s 1 ease-in-out;
}
@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

 @-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
} 