@font-face{
    font-family:'diyziti' ;  /* 字体名自定义即可 */
    src:url('/fonts/diyziti.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  @font-face{
    font-family:'diybtziti' ;  /* 字体名自定义即可 */
    src:url('/fonts/diybtziti.ttf'); /* 字体文件路径 */
    font-display : swap;
  }
  /* body  */

#article-container {
  font-family: 'diyziti';
}

h1#front {
    font-family: 'diybtziti', sans-serif;
  }

  /*10s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
/* #page-header,
#web_bg {
    -webkit-animation: imgblur .2s 1 ease-in-out;
    animation: imgblur 1s 1 ease-in-out;
}
@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
/*适配使用-webkit内核的浏览器 */
/* @-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
} */ 