@font-face {
    font-family: "榜书字体";
    src: url("bangshu.eot"); /* IE9 */
    src: url("bangshu.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("bangshu.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("bangshu.woff") format("woff"), /* chrome, firefox */
    url("bangshu.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("bangshu.svg#榜书字体") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


